@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(220, 214, 226);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_relogio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    height: 25%;
    width: 40%;
    border-radius: 10px;
}

div{
    background-color: white ;
    height: 70%;
    width: 25%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda{
    font-size: 12px;
}

.horas, 
.minutos,
.segundos{
    display: flex;
    flex-direction: column;
}

#hora,
#minuto,
#segundo{
    font-size: 2rem;
}


@media (max-width: 700px){
    .box_relogio{
        display: flex;
        flex-direction: column;
        height: 60%;
        width: 60%;
    }

    div{
        height: 25%;
        width: 70%;
    }
}